body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  width: 1440px;
  height: 3300px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}
.header-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-right: 55px;
}

.header-menu-item {
  padding: 24px 0;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.header-contact-list {
  display: flex;
  gap: 40px;
}

.navigation-items-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.menu-header {
  display: flex;
  gap: 40px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background: #fff;
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo span {
  color: #2e2f42;
}

.header-menu-link {
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}
.mail-and-numb {
  display: flex;
}
.header-menu-item:hover {
  color: #404bbf;
}
.header-contact-item:focus {
  color: #404bbf;
}

.header-contact {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-contact-link {
  color: #434455;
}
.header-contact-link:hover {
  color: #404bbf;
}

.header-contact-link:focus {
  color: #404bbf;
}

.header-contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contact-item:hover,
.header-contact-item:focus {
  color: #404bbf;
}

.menu-solutions {
  background-color: #2e2f42;
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solutions-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.menu-items {
  padding: 120px 0;
}

.solutions-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: 0;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
}

.solutions-btn:hover,
.solutions-btn:focus {
  background-color: #404bbf;
}

.main-menu-list {
  display: flex;
  gap: 24px;
  padding: 24px 0;
}

.main-menu-item {
  width: calc((100% - 72px) / 4);
}

.main-menu-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-menu-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}

.our-team-person {
  width: calc((100% - 72px) / 4);
}

.our-team-person {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.persons {
  padding: 32px 0;
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-occup {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
}

.our-menu-person {
}

.our-menu-icon {
}

.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
}

.our-portfolio-item {
  width: calc((100% - 48px) / 3);
}

.apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-icon {
}

.our-portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio-occup {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.container footer {
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
